<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeInfo</title>
</head>
<body>

<h1>회원정보</h1>

    <table border="1" th:object="${employeeInfo}">
        <tr>
            <td>사원 번호</td>
            <td th:text="*{empNum}" id="empNum" name="empNum"></td>
        </tr>
        <tr>
            <td>사원 이름</td>
            <td th:text="*{empName}"></td>
        </tr>
        <tr>
            <td>부서 번호</td>
            <td th:text="*{deptNo}"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td th:text="*{empPhone}"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td th:text="*{empEmail}"></td>
        </tr>
        <tr>
            <td>입사일</td>
            <td th:text="*{empHireDate}"></td>
        </tr>
        <tr>
            <td>직책</td>
            <td th:text="*{empPosition}"></td>
        </tr>
        <tr>
            <td>팀장</td>
            <td th:text="*{empLeader}"></td>
        </tr>
        <tr>
            <td>직속 상급자</td>
            <td th:text="*{empMgr}"></td>
        </tr>
    </table>
    <button><a th:href="@{/admin/employee/employeeInfoModify/{empNum}(empNum=${empNum})}">정보 수정</a></button>
    <button><a th:href="@{/admin/employee/employeeDeptPositionUpdate/{empNum}(empNum=${empNum})}">부서 및 직급 변경</a></button>
    <button onclick="confirmResign()">퇴사</button>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function confirmResign() {
        const empNum = document.getElementById('empNum').textContent;
        if (confirm("퇴사 처리?")) {
            $.ajax({
                url: '/admin/employee/employeeResign',
                type: 'POST',
                data: {empNum:empNum},
                success: function (data) {
                    if (data) {
                        alert("퇴사 처리가 완료되었습니다.");
                        window.location.href = '/admin/employee/employeeList';

                    }
                },
            });
        } else {
            return false;
        }
    }
</script>
</body>
</html>