<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원별 정보수정</title>
</head>
<body>

    <form th:action="@{'/admin/employee/employeeDeptPositionUpdate/' + ${empNum}}" method="post" th:object="${employeeInfo}">
        <table border="1">
        <tr>
            <td>사원 번호</td>
            <td><input type="hidden"  th:value="*{empNum}">[[${employeeInfo.empNum}]]</td>
        </tr>
        <tr>
            <td>사원 이름</td>
            <td><input type="hidden" name="empName" th:value="*{empName}">[[${employeeInfo.empName}]]</td>
        </tr>
        <tr>
            <td>부서</td>
            <td>
                <select name="deptNo" id="deptNoSelect">
                    <option th:value="*{deptNo}">[[${employeeInfo.deptNo}]]</option>
                    <th:block th:each="deptInfo : ${deptNameList}">
                        <option th:value="${deptInfo[0]}" th:text="${deptInfo[0]}+ '(' + ${deptInfo[1]} + ')'"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="hidden"  th:value="*{empPhone}">[[${employeeInfo.empPhone}]]</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="hidden"  th:value="*{empEmail}">[[${employeeInfo.empEmail}]]</td>
        </tr>
        <tr>
            <td>입사일</td>
            <td><input type="hidden" th:value="*{empHireDate}">[[${employeeInfo.empHireDate}]]</td>
        </tr>
        <tr>
            <td>직책</td>
            <td><input type="text" name="empPosition" th:value="*{empPosition}"></td>
        </tr>
        <tr>
            <td>팀장</td>
            <td><select name="empLeader" id="empLeaderSelect">
                <option th:value="*{empLeader}">[[${employeeInfo.empLeader}]]</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>직속상관</td>
            <td>
                <select name="empMgr" id="empMgrSelect">
                <option th:value="*{empMgr}">[[${employeeInfo.empMgr}]]</option>
                </select>
            </td>
        </tr>

        </table>
        <input type="submit" th:value="수정하기"/>
    </form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('deptNoSelect').addEventListener('change', function (){
        let selectDeptNo = this.value;
        let empLeaderSelect = document.getElementById('empLeaderSelect');
        empLeaderSelect.innerHTML="";
        let empMgrSelect = document.getElementById('empMgrSelect')
        empMgrSelect.innerHTML="";

        $.ajax({
            url: '/admin/employee/getTeamLeaders',
            type: 'GET',
            data: {deptNo: selectDeptNo},
            success: function (data) {
                let leaderSelect = document.getElementById('empLeaderSelect');
                leaderSelect.innerHTML = '<option value=0>선택</option>';
                data.forEach(function (leader) {
                    let option = document.createElement('option');
                    option.value = leader[0];
                    option.text = leader[1] + ' (' + leader[0] + ')';
                    leaderSelect.appendChild(option);
                });
            },
        });

        $.ajax({
            url: '/admin/employee/getMgr',
            type: 'GET',
            data: {deptNo: selectDeptNo},
            success: function (data) {
                let mgrSelect = document.getElementById('empMgrSelect');
                mgrSelect.innerHTML = '<option value=0>선택</option>';
                data.forEach(function (mgr) {
                    let option = document.createElement('option');
                    option.value = mgr[0];
                    option.text =mgr[1] + ' (' +  mgr[0] + ')';
                    mgrSelect.appendChild(option);
                });
            },
        });


    });

</script>
</body>
</html>