<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeList</title>
</head>
<body>

<table border="1" class="empList">
    <tr>
    <th>사원 번호</th>
    <th>사원 이름</th>
    <th>사원 부서</th>
    <th>사원 이메일</th>
    </tr>
    <tr th:each="emp : ${employeeList}">
        <td><a th:href="@{/admin/employee/employeeInfo/{empNum}(empNum=${emp.empNum})}">[[${emp.empNum}]]</a></td>
        <td th:text="${emp.empName}"></td>
        <td th:text="${emp.deptNo}"></td>
        <td th:text="${emp.empEmail}"></td>
    </tr>
</table>
<button><a th:href="@{/admin/employee/register}">사원등록</a></button>
</body>
</html>