<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원별 정보수정</title>
</head>
<body>
<table border="1">
        <form th:action="@{'/admin/employee/employeeInfoModify/' + ${empNum}}" method="post" th:object="${employeeInfo}">
        <tr>
            <td>사원 번호</td>
            <td><input type="hidden"  th:value="*{empNum}">[[${employeeInfo.empNum}]]</td>
        </tr>
        <tr>
            <td>사원 이름</td>
            <td><input type="text" name="empName" th:value="*{empName}"></td>
        </tr>
        <tr>
            <td>부서 번호</td>
            <td><input type="hidden" th:value="*{deptNo}">[[${employeeInfo.deptNo}]]</td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td><input type="text" name="empPhone" th:value="*{empPhone}"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="text" name="empEmail" th:value="*{empEmail}"></td>
        </tr>
        <tr>
            <td>입사일</td>
            <td><input type="hidden" th:value="*{empHireDate}">[[${employeeInfo.empHireDate}]]</td>
        </tr>
        <tr>
            <td>직책</td>
            <td><input type="hidden" th:value="*{empPosition}">[[${employeeInfo.empPosition}]]</td>
        </tr>
        <tr>
            <td>팀장</td>
            <td><input type="hidden" th:value="*{empLeader}">[[${employeeInfo.empLeader}]]</td>
        </tr>
        <tr>
            <td>직속 상급자</td>
            <td><input type="hidden" th:value="*{empMgr}">[[${employeeInfo.empMgr}]]</td>
        </tr>
        <input type="submit" th:value="수정하기"/>
    </form>

</table>
</body>
</html>