<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자가 회원가입</h1>
<form action="/admin/employee/register" method="post">
    <table>
        <tr>
            <td>이름</td>
            <td><input type="text" name="empName"></td>
        </tr>
        <tr>
            <td>이메일</td>
            <td><input type="text" name="empEmail"></td>
        </tr>
        <tr>
            <td>핸드폰 번호</td>
            <td><input type="text" name="empPhone" id="empPhone"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="text" name="empPassword" id="empPassword"></td>
        </tr>
        <tr>
            <td>부서</td>
            <td>
                <select name="deptNo" id="deptNoSelect">
                    <option value="">선택</option>
                    <th:block th:each="deptInfo : ${deptNameList}">
                        <option th:value="${deptInfo[0]}" th:text="${deptInfo[1]}"></option>
                    </th:block>
                </select>
            </td>
        </tr>
        <tr>
            <td>직책</td>
            <td><input type="text" name="empPosition"></td>
        </tr>
        <tr>
            <td>팀장</td>
            <td>
                <select name="empLeader" id="empLeaderSelect">
                    <option value="">선택</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>직속상관</td>
            <td>
                <select name="empMgr" id="empMgrSelect">
                    <option value="">선택</option>
                </select>
            </td>
        </tr>
    </table>
<input type="submit" value="가입">
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //비밀번호 자동 생성(핸드폰 번호 뒷자리로)
    document.getElementById('empPhone').addEventListener('input', function () {
        let empPhone = this.value;
        let empPassword = empPhone.slice(-4);
        document.getElementById('empPassword').value = empPassword;
    });

    //부서선택하면 부서에 있는 팀장 / 부서 사람들 불러오기 (부서 저장은 Long으로, 보이는건 String)
    document.getElementById('deptNoSelect').addEventListener('change', function (){
        let selectDeptNo = this.value;
        let empLeaderSelect = document.getElementById('empLeaderSelect');
        empLeaderSelect.innerHTML="";
        let empMgrSelect = document.getElementById('empMgrSelect')
        empMgrSelect.innerHTML="";

            $.ajax({
                url: '/admin/employee/getTeamLeaders',
                type: 'GET',
                data: {deptNo: selectDeptNo},
                success: function (data) {
                    let leaderSelect = document.getElementById('empLeaderSelect');
                    leaderSelect.innerHTML = '<option value=0>선택</option>';
                    data.forEach(function (leader) {
                        let option = document.createElement('option');
                        option.value = leader[0];
                        option.text = leader[1] + ' (' + leader[0] + ')';
                        leaderSelect.appendChild(option);
                    });
                },
            });

            $.ajax({
                url: '/admin/employee/getMgr',
                type: 'GET',
                data: {deptNo: selectDeptNo},
                success: function (data) {
                    let mgrSelect = document.getElementById('empMgrSelect');
                    mgrSelect.innerHTML = '<option value=0>선택</option>';
                    data.forEach(function (mgr) {
                        let option = document.createElement('option');
                        option.value = mgr[0];
                        option.text =mgr[1] + ' (' +  mgr[0] + ')';
                        mgrSelect.appendChild(option);
                    });
                },
            });


    });

    $(".submit").click( function() {
        const submit = alert("회원 가입 완료")
        if(submit){
            return true;
        }
    });



</script>
</body>
</html>