<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:each="dto:${list}">
    <li>
        [[${dto.mailNum}]]
    </li>
    <li>
        [[${dto.mailTitle}]]
    </li>
    <li>
        [[${dto.mailContent}]]
    </li>
    <li>
        [[${dto.mailDate}]]
    </li>
    <li>
        [[${dto.mailCheck}]]
    </li>
    <hr>
    <li>
        [[${dto.senderId}]]
    </li>
    <li>
        [[${dto.senderName}]]
    </li>
    <li>
        [[${dto.senderEmail}]]
    </li>
    <hr>
    <li>
        [[${dto.receiverId}]]
    </li>
    <li>
        [[${dto.receiverName}]]
    </li>
    <li>
        [[${dto.receiverEmail}]]
    </li>

</ul>
</body>
</html>