<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>메일 읽기</h1>
<hr>
<a href="/mail">전체 메일함</a>
<a href="/mail/send">보낸 메일함</a>
<a href="/mail/receive">받은 메일함</a>
<a href="/mail/unread">안 읽은 메일함</a>
<a href="/mail/write">메일 작성</a>
<hr>
<table  border="1" th:each="dto:${list}">
    <tr>
        <td th:colspan="2">
        <a th:href="@{/mail/delete/{no}(no=${dto.mailNum})}">
            삭제
        </a>
        </td>
    </tr>
    <tr>
        <td>메일 제목</td>
        <td>[[${dto.mailTitle}]]</td>
    </tr>
    <tr>
        <td>보낸 사람</td>
        <td>[[${dto.senderName}]]</td>
    </tr>
    <tr>
        <td>받는 사람</td>
        <td>[[${dto.receiverName}]]</td>
    </tr>
    <tr>
        <td>작성 일시</td>
        <td>[[${dto.mailDate}]]</td>
    </tr>
    <tr>
        <td th:colspan="2">내용</td>
    </tr>
    <tr>
        <td th:colspan="2">[[${dto.mailContent}]]</td>
    </tr>
</table>
</body>
</html>