<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <th>메일 제목</th>
        <th>작성 시간</th>
    </tr>
    <tr th:each="dto : ${list}">
        <td th:if="${dto.mailSender == 1}" >
            [보낸 메일함] [[${dto.mailTitle}]]
        </td>
        <td th:unless="${dto.mailSender == 1}" >
            [받은 메일함] [[${dto.mailTitle}]]
        </td>
        <td>[[${dto.mailDate}]]</td>

    </tr>

</table>
</body>
</html>