<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>받은 메일함</h1>
<hr>
<a href="/mail">전체 메일함</a>
<a href="/mail/send">보낸 메일함</a>
<a href="/mail/receive">받은 메일함</a>
<hr>

<table border="1">
    <tr>
        <th>메일 번호</th>
        <th>메일 제목</th>
        <th>보낸 사람</th>
        <th>작성 시간</th>
    </tr>
    <tr th:each="dto : ${list}">
        <td>
            [[${dto.mailNum}]]
        </td>
        <td>
            [[${dto.mailTitle}]]
        </td>
        <td>
            [[${dto.empName}]]
        </td>
        <td>[[${dto.mailDate}]]</td>

    </tr>

</table>
</body>
</html>